body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 0px;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    font-weight: bold;
    padding 0px;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding 0px;
}
p, li {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding 0px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    font-family: 'Open Sans', sans-serif;
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
