*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    overflow: overlay;
}
.responsive {
    float: left;
    width: 50%;
}
@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 0px;
    margin: 7% auto;
    width: 70%;
    overflow: overlay;
}
nav ul, footer ul {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 2.5%;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    font-weight: bold;
    padding 0px;
    margin: 0px;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding 0px;
    margin: 0px;
}
p, li {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding 0px;
    overflow: overlay;
}
footer {
    border-top: 1px solid black;
    font-size: .8em;
    width: 100%;
}

ul.posts {
    font-family: 'Open Sans', sans-serif;
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
div.gallery {
    float: left;
    width: 100%;
}
div.gallery img {
    width: 100%;
    height: auto;
}
