*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    overflow: overlay;
}
body {
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding: 0%;
    margin: auto;
    margin-top: 5%;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    font-weight: bold;
    padding 0%;
    margin: 0%;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding 0%;
    margin-top: 2.5%;
    margin-bottom: 0%;
}
p, li {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding 0%;
    margin 0%;
}
a {
    text-decoration: none;
    color: blue;
    margin: 0%;
}
a:hover {
    text-decoration: underline;
}
.meta{
    margin-top: 0%;
}
ul {
    font-family: 'Roboto', sans-serif;
    padding: 0%;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 2.5%;
}
footer {
    border-top: 2px solid black;
    margin-top: 1%;
    margin-bottom: 5%;
    font-size: .9em;
    width: 100%;
}
/* 
ul.posts {
    font-family: 'Open Sans', sans-serif;
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
} */
img {
    border: 2px solid black;
    width: 100%;
    height: auto;
}
.grid_layout {
    /* Prevent vertical gaps */
    -webkit-column-count: 1;
    -webkit-column-gap:   1.5em;
    -moz-column-count:    1;
    -moz-column-gap:      1.5em;
    column-count:          1;
    column-gap:           1.5em;
    line-height: 0;
}

.grid_layout figure{
/*Just in case there are inline attributes */
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;

}
.grid_layout figcaption{
    font-size: 1em;
    line-height: 1.5em;
}

@media only screen and (min-width: 775px) {
  /* Rules for tablets and bigger viewports */
    body {
        width: 90%;
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 900px) {
  /* Rules for laptops, small desktop screens and bigger viewports */
    body {
    	width: 70%;
        font-size: 1em;
    }
    .grid_layout {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media only screen and (min-width: 1200px) {
    body {
        width: 50%;
    }
}

