---
layout: default
title: about
---
<h1>about</h1>

<div>
    <p>Hi, I'm Joseph Zieg. I'm interested in various applications for computer science in space tech, computational biology, complex systems and physics.</p>

<p>I’ll be graduating with a Bachelor of Science in Computer Science from UVM in May, 2019. I’m working full-time at the Outdoor Gear Exchange, and living in Burlington, VT. Interests are pretty outdoorsy, with my main hobbies lying in rock climbing, cycling and yoga. Film, music, and books are also pastimes of mine.</p>

<p>Next steps are hopefully to continue studies into a Masters of Science at UVic.<br><h3>pictures of stuff i did</h3></p>

<div class="grid_layout">
    {%include figure.html img="climb.jpg" cap="^ projecting starry night 5.12a (2019)"%}

    {%include figure.html img="sail.jpg" cap="^ sailing in the bvi (2019)"%}
    
    {%include figure.html img="nasa.jpg" cap="^ LCC and VAB (2019)"%}

    {%include figure.html img="surf_sunrise.jpg" cap="^ sunrise surf at cocoa beach (2018)"%}
</div>
</div>
