<!DOCTYPE html>
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>">
		</head>
	<body>
		<header>
			<h1><a href="/">home</a></h1>
			<nav>
    		<ul>
	        	<a href="/about/about.html">about</a>
                <a href="/posts/index.html">posts</a>
                <a href="/projects/projects.html">projects</a>
    		</ul>
		</nav>
	</header>
    <div>
			
			{{ content }}
			
	</div>
	<footer>
		<ul>
			<li><a href="https://www.linkedin.com/in/jfzieg/">linkedin</a></li>
			<li><a href="https://www.instagram.com/chosstronaut/">instagram</a></li>
			<li><a href="mailto:jfzieg@gmail.com">email</a></li>
			<li><a href="https://github.com/jfzieg">github</a></li>
		</ul>
		<strong>updated 2021</strong>
	</footer>
	</body>
</html>

