<!DOCTYPE html>
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">home</a></li>
	        	<li><a href="/about/about.html">about</a></li>
                <li><a href="/posts/index.html">posts</a></li>
        		<li><a href="/cv/cv_5_2019.html">cv</a></li>
                <li><a href="/projects/projects.html">projects</a></li>
    		</ul>
		</nav>
    <div class="container">
			
			{{ content }}
			
    </div><!-- /.container -->
		<footer>
    		<ul>
                <li><a href="https://www.linkedin.com/in/jfzieg/">linkedin</a></li>
                <li><a href="https://www.instagram.com/gucci_plateau/">instagram</a></li>
                <li><a href="mailto:jfzieg@gmail.com">email</a></li>
                <li><a href="https://github.com/jfzieg">github</a></li>
			</ul>
		</footer>
	</body>
</html>

